@import url(https://db.onlinewebfonts.com/c/caff80b45b4689a62304593e32a7ad33?family=FSHackneyWeb-Regular);

:root {
  --font-hackey: "FSHackneyWeb-Regular";
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-hackey);
}

button {
  cursor: pointer;
}
