.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 120px;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
  letter-spacing: 14.86px;
  font-family: FSHackney-regular, sans-serif;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  height: 48px;
  border-radius: 48px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: medium;
  background-color: rgb(41, 22, 186);
  color: rgb(255, 255, 255);
  padding: 17px 31px;
  margin: 75px auto 0 auto;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  height: 48px;
  border-radius: 48px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: medium;
  background-color: rgb(255, 255, 255);
  color: rgb(41, 22, 186);
  padding: 17px 31px;
  width: 100%;
}
